* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;  
}

:root {
    --primary: #b6895b; 
}

/* body */
body {
    background-color: black;
    /* min-height: 6000px;   */
}

/* header-start */
.container {
    background-color: black;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1.4rem 7%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.container span {
    font-style: italic ;
    color: wheat    ;
}

.container a {
    text-decoration: none;
    color: var(--primary);
    padding: 0.5rem;
}

.container .navbar a {
    display: inline-block;
}

.container .navbar a:hover {
    color: wheat;
}

.container .navbar a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid wheat;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.container .navbar a:hover::after {
    transform: scaleX(0.5);
}

.navbar {
    font-size: 1.5rem;
}

.container .navbar-extra {
    display: flex;
    align-items: center;
}

#menu {
    display: none;
}

.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    transition: 0.4s linear;
}

.shopping-cart img {
    height: 6rem;
    border-radius: 50%;
}

.shopping-cart .cart-item {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed #666;
    box-shadow: rgba(20, 2, 2, 0.341);
    position: relative;
    
}

.shopping-cart .cart-item h3 {
    font-size: 2rem;
}

.shopping-cart .cart-item .item-price {
    font-size: 1.5rem;
}

.shopping-cart .remove-item {
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    cursor: pointer;
}

.shopping-cart .remove-item:hover {
    border-radius: 35%;
    background-color: #fff;
    height: 2.7rem;
    width: 2.7rem;
    transition: .4s;
}

.shopping-cart.active {
    right: 0;
}

/* search form start*/
.container .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.container .search-form.active {
    transform: scaleY(1);
}

.container .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    padding: 1.5rem;
    border: none;
}

.container .search-form label {
    cursor: pointer;
    margin-right: 1.5rem;

}
/* media queries */ 

/* laptop */
@media (max-width: 1366px) { 
    html {
        font-size: 75%;
    }       
}

/* tablet */
@media (max-width: 758px) { 
    html {
        font-size: 62.5%;
    }   
    
    #menu {
        display: inline-block;
    }
    
    .container .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: wheat;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;  
    }
    
    .container .navbar.active {
        right: 0;
    }
    
    .container .navbar a {
        display: block;
        padding: 1.5rem;
        font-weight: 500;
    }
    
    .container .navbar a::after {
        transform-origin: 0 0;
    }
    
    .container .navbar a:hover::after {
        transform-origin: 0 0;
        transform: scaleX(0.3);
    }
    
    .container .navbar a:hover {
        background-color: var(--primary);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content2 {  
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content2 h3 {
        font-size: 2rem;
    }

    .menu p {
        font-size: 1.5rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }
    
    .contact .row .map {
        height: 30rem;
    }
    
    .contact .row form {
        padding-top: 0;
    }
}

/* mobile phone */
@media (max-width: 450px) { 
    html {
        font-size: 55%;
    }           
}

/* header end */

/* hero start */
.hero {
    min-height: 100vh;
    background-image: url("../img/coffeemew.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    color: wheat;
}

.content {
    position: absolute;
    right: 0;
}

.hero .content {
    padding: 7%;
    max-width: 60rem;
    margin-bottom: 10rem;
    margin-right: 5rem;
}

.content h1 {
    font-size: 4rem;
}

.content p {
    font-style: italic ;
    margin-bottom: 1rem;
}

.hero .content a {
    min-width: 50vw;
    min-height: 50vh;
    margin-top: 5rem;
    background: rgb(206, 120, 8);
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding: .5rem;
    border-radius: 45%;
    text-decoration: none;
}

.hero .content a:hover {
    color: wheat;
}

.hero .content p{
    font-size: 1.5rem;
    mix-blend-mode: difference;
}

/* about section */
.about,
.menu ,
.contact, 
.products {
    padding: 10rem 7% 1.4rem;
    color: white;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content2 {
    flex: 1 1 35rem;
    padding-left: 1rem;
}

.about .row .content2 h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content2 p{
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6rem;
    
}

.about h2 , 
.menu h2 ,
.contact h2, 
.products h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

/* products section start */
.products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem , 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.products .product-card {
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
}

.products .product-card .product-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.products .product-icons a {
    width: 4rem;
    height: 4rem;
    color: #fff;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .product-icons a:hover {
    border: 1px  solid var(--primary);
    background-color: var(--primary);
}

.products .product-content h3 {
    font-size: 2rem;
}

.products .product-stars {
    font-size: 1.7rem;
    color: #b6895b;
    padding: 1.5rem;
}

.products .product-stars .star-full {
    fill: #b6895b;
}

.products .product-price {
    font-size: 1.5rem;
    font-weight: 700;
}

.products .product-price span {
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: line-through;
    padding-left: .5rem;
}



/* products section end */



/* menu section start*/
.menu h2 , 
.contact h2, 
.products h2{
    margin-bottom: 1rem;
}
.menu p , 
.contact p,
.products p{
   text-align: center; 
   max-width: 30rem;
   margin: auto;
   font-size: 1.2rem;
   font-weight: 100;
   line-height: 1.6rem;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    padding-bottom: 4rem;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 80%;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1.5rem auto 0.5rem  ;
}

.menu .row .menu-card .menu-card-price {
    margin: 1rem;
}

/* contact section */
.contact .row {
    display: flex;
    margin-top: 2rem;
    background: #222;

}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    /* background-color: #b6895b; */
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 3rem;
    font-size: 1.7rem;
    color: white;
    background-color: #b6895b;
}

/* footer section */
.footer {
    background-color: #b6895b;
    text-align: center;
    padding: 2rem 1rem 3rem;
    margin-top: 3rem;
    color: white;
}

.footer .social {
    padding: 1rem 0
}

.footer .socials a {
    color: #fff;
    margin: 1rem;
}

.footer .socials a:hover {
    color: black;
}

.footer .credit p {
    font-size: 1.5rem;
}
